# Copy values from .env or export them as TF_VAR_<NAME> environment variables.
# Rename this file to terraform.tfvars for Terraform consumption.

MYSQL_ROOT_PASSWORD = "change_me_strong_root_password"
MYSQL_HOST = "mysql"
MYSQL_PORT = 3306
MYSQL_USER = "rental_user"
MYSQL_PASSWORD = "change_me_strong_app_password"
MYSQL_DATABASE = "clothes_rental"

JWT_SECRET_KEY = "change_me_generate_with_openssl_rand_hex_32"
AUTH_SERVICE_PORT = 5001
CATALOG_SERVICE_PORT = 5002
RENTAL_SERVICE_PORT = 5003
ADMIN_SERVICE_PORT = 5004

AUTH_SERVICE_URL = "http://auth-service:5001"
FRONTEND_AUTH_URL = "http://localhost:5001"
FRONTEND_CATALOG_URL = "http://localhost:5002"
FRONTEND_RENTAL_URL = "http://localhost:5003"
FRONTEND_ADMIN_URL = "http://localhost:5004"
FLASK_DEBUG = "false"

ELASTIC_PASSWORD = "change_me_strong_elastic_password"
ELASTICSEARCH_HOSTS = "http://clothes_elasticsearch:9200"

KIBANA_PASSWORD = "change_me_strong_kibana_password"
KIBANA_ENCRYPTION_KEY = "change_me_exactly_32_chars_key!!"
KIBANA_HOST = "kibana:5601"
